<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="{{session.PictureUrl}}" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{session.FirstName}} {{session.LastName}}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                <i class="fa fa-search"></i>
              </button>
            </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li>
        <a routerLink="/dashboard/">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/user/">
          <i class="fa fa-user"></i> <span>Quản lý người dùng</span>
          <!-- <span class="pull-right-container">
            <small class="label pull-right bg-green">new</small>
          </span> -->
        </a>
      </li>
      <li>
        <a routerLink="/role/">
          <i class="fa fa-user"></i> <span>Quản lý Role</span>
        </a>
      </li>
      <li>
        <a routerLink="/shop/">
          <i class="fa fa-institution"></i> <span>Quản lý shop </span>
        </a>
      </li>
      <li>
        <a routerLink="/shop/">
          <i class="fa fa-bank"></i> <span>Quản lý sản phẩm </span>
        </a>
      </li>
      <li>
        <a routerLink="/configtype/">
          <i class="fa fa-institution"></i> <span>Quản lý loại cấu hình </span>
        </a>
      </li>
      <li>
        <a routerLink="/config/">
          <i class="fa fa-institution"></i> <span>Quản lý cấu hình </span>
        </a>
      </li>
      <li>
        <a routerLink="/phototype/">
          <i class="fa fa-institution"></i> <span>Quản lý loại tệp ảnh </span>
        </a>
      </li>
      <li>
        <a routerLink="/order/">
          <i class="fa fa-shopping-cart"></i> <span>Quản lý đơn hàng</span>
          <span class="pull-right-container">
            <small class="label pull-right bg-red">3</small>
            <small class="label pull-right bg-blue">17</small>
          </span>
        </a>
      </li>
      <li class="treeview">
        <a routerLink="#">
          <i class="fa fa-files-o"></i>
          <span>Cấu hình</span>
          <span class="pull-right-container">
            <span class="label label-primary pull-right">4</span>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink="#"><i class="fa fa-circle-o"></i> Cấu hình banner</a></li>
          <li><a routerLink="#"><i class="fa fa-circle-o"></i> Cấu hình 1</a></li>
          <li><a routerLink="#"><i class="fa fa-circle-o"></i> Cấu hình 2</a></li>
          <li><a routerLink="#"><i class="fa fa-circle-o"></i> Cấu hình 3</a></li>
        </ul>
      </li>
      <li>
        <a routerLink="pages/widgets.html">
          <i class="fa fa-th"></i> <span>Quản lý bài viết</span>
          <span class="pull-right-container">
            <small class="label pull-right bg-green">new</small>
          </span>
        </a>
      </li>
      <li class="treeview">
        <a routerLink="#">
          <i class="fa fa-pie-chart"></i>
          <span>Biểu đồ</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
      </li>
      <li>
        <a routerLink="pages/mailbox/mailbox.html">
          <i class="fa fa-envelope"></i> <span>Mailbox</span>
          <span class="pull-right-container">
            <small class="label pull-right bg-yellow">12</small>
            <small class="label pull-right bg-green">16</small>
            <small class="label pull-right bg-red">5</small>
          </span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
