<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Quản lý phân quyền
    <small>({{totalItem}})</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="#">
        <i class="fa fa-dashboard"></i> Quản lý phân quyền</a>
    </li>
    <li class="active">Danh sách phân quyền</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Danh sách phân quyền</h3>
          <div class="pull-right">
            <button type="submit" class="btn btn-info" (click)="OpenRoleModal(null)">Tạo mới</button>
            <button type="submit" class="btn btn-success">Xuất file</button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
              <div class="col-sm-6">
                <div class="dataTables_length" id="example1_length">
                  <label>Show
                    <select name="example1_length" aria-controls="example1" class="form-control input-sm">
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select> entries</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div id="example1_filter" class="dataTables_filter">
                  <label>Search:
                    <input type="search" class="form-control input-sm" placeholder="" aria-controls="example1">
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                  <thead>
                    <tr role="row">
                      <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending"
                        style="width: 50px;">#</th>
                      <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending"
                        style="width: 224px;">Tên role</th>
                      <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending"
                        style="width: 224px;">Trạng thái</th>
                      <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending"
                        style="width: 112px;">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr role="row" class="odd" *ngFor="let role of roleList; let i = index">
                      <td>{{i+1}}</td>
                      <td>{{role.RoleName}}</td>
                      <td>
                        <span *ngIf="role.Status==0">Chưa kích hoạt</span>
                        <span *ngIf="role.Status==1">Kích hoạt</span>
                        <span *ngIf="role.Status==2">Đã xóa</span>
                      </td>
                      <td>
                        <button type="submit" class="btn btn-xs btn-primary" (click)="OpenRoleModal(role)">Edit</button>
                        <button class="btn btn-xs btn-danger" (click)="selectedRole = role;OpenDeleteModal()">Delete</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5">
                <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
              </div>
              <div class="col-sm-7">
                <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                  <ul class="pagination">
                    <li class="paginate_button previous disabled" id="example1_previous">
                      <a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0">Previous</a>
                    </li>
                    <li class="paginate_button active">
                      <a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0">1</a>
                    </li>
                    <li class="paginate_button ">
                      <a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0">2</a>
                    </li>
                    <li class="paginate_button ">
                      <a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0">3</a>
                    </li>
                    <li class="paginate_button ">
                      <a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0">4</a>
                    </li>
                    <li class="paginate_button ">
                      <a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0">5</a>
                    </li>
                    <li class="paginate_button ">
                      <a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0">6</a>
                    </li>
                    <li class="paginate_button next" id="example1_next">
                      <a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0">Next</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
<div bsModal #RoleModal="bs-modal" class="modal fade in" tabindex="-1" role="dialog" id="RoleModal" aria-labelledby="Role"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Chi tiết role</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="RoleModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" #RoleForm="ngForm">
          <div class="box-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="RoleName" class="col-sm-4 control-label">Role Name</label>
                  <div class="col-sm-8">
                    <input type="text" [(ngModel)]="selectedRole.RoleName" required name="RoleName" required
                    #RoleName="ngModel" class="form-control" id="RoleName" placeholder="Nhập role name">
                    <div *ngIf="RoleName.errors && (RoleName.dirty || RoleName.touched)">
                      <small [hidden]="!RoleName.errors.required" class="text-danger">
                        Nhập role name
                      </small>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="Status" class="col-sm-4 control-label">Trạng thái</label>
                  <div class="col-sm-8">
                    <select class="form-control" [(ngModel)]="selectedRole.Status" name="Status" #Status="ngModel" id="Status" required>
                      <option value="0">Chưa kích hoạt</option>
                      <option value="1">Kích hoạt</option>
                    </select>
                    <div *ngIf="Status.errors && (Status.dirty || Status.touched)">
                      <small [hidden]="!Status.errors.required" class="text-danger">
                        Chọn trạng thái
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn default" (click)="RoleModal.hide();">Cancel</button>
        <button class="btn btn-success" [disabled]="RoleForm.invalid" (click)="Save()">Save</button>
      </div>
    </div>
  </div>
</div>
<div bsModal #DeleteRoleModal="bs-modal" class="modal fade in" tabindex="-1" role="dialog" id="DeleteRoleModal" aria-labelledby="deleteRole"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Xóa role</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="DeleteRoleModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>Bạn có muốn xóa role này không?</div>
      </div>
      <div class="modal-footer">
        <button class="btn default" (click)="DeleteRoleModal.hide();">Cancel</button>
        <button class="btn btn-success" (click)="Delete()">OK</button>
      </div>
    </div>
  </div>
</div>