<style>
    .has-danger {
        border-color: red; 
    }

    .control-label.required:after { 
        color: #d00;
        content: "*";
        position: absolute;
        margin-left: 5px;
        top:7px;
    }
</style>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Quản lý cấu hình
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard"></i> Quản lý cấu hình</a>
        </li>
        <li class="active">Cập nhật thông tin cấu hình</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="box box-info login_custom">
            <div class="box-header with-border">
                <h3 class="box-title">{{ Id == 0 ? 'Thêm  mới thông tin cấu hình' : 'Cập nhật thông tin cấu hình' }}</h3>
                <small>
                    <i class="fa fa-arrow-circle-left"></i>
                    <a routerLink="/config">back to config list</a>
                </small>
                <div class="pull-right">
                    <!-- <button type="submit" class="btn btn-default" routerLink="/config">Trờ về</button> -->
                    <button type="submit" name="save" class="btn bg-blue" (click)="Save(0)">
                        <i class="fa fa-floppy-o"></i>
                        Save
                    </button>
                    <button type="submit" name="save-continue" class="btn bg-blue" (click)="Save(1)">
                        <i class="fa fa-floppy-o"></i>
                        Save and Continue Edit
                    </button>
                    <!-- <button type="submit" class="btn btn-info" (click)="Save()">Save</button> -->
                </div>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-offset-3">
                            <div class="form-group">
                                <label for="Name" class="control-label">Name</label>

                                <input type="text" [(ngModel)]="model.Name" required name="Name" 
                                #Name="ngModel" [ngClass]="{
                                    'has-danger': Name.invalid && Name.dirty,
                                    'has-success': Name.valid && Name.dirty
                                  }" class="form-control" id="Name" placeholder="Nhập tên loại cấu hình">
                            
                                <div *ngIf="Name.invalid && ( Name.dirty || Name.touched )" class="alert alert danger">
                                    <div style="color: red;" *ngIf="Name.errors.required">Name is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-offset-3">
                            <div class="form-group">
                                <label for="Value" class="control-label">Value</label>

                                <input type="text" [(ngModel)]="model.Value" required name="Value" 
                                #Value="ngModel" [ngClass]="{
                                    'has-danger': Value.invalid && Value.dirty,
                                    'has-success': Value.valid && Value.dirty
                                  }" class="form-control" id="Value" placeholder="Nhập tên loại cấu hình">
                            
                                <div *ngIf="Value.invalid && ( Value.dirty || Value.touched )" class="alert alert danger">
                                    <div style="color: red;" *ngIf="Value.errors.required">Value is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-offset-3">
                            <div class="form-group">
                                <label for="ConfigTypeId" class="control-label">Config Type</label>

                                <!-- <input type="text" [(ngModel)]="model.ConfigTypeId" required name="ConfigTypeId" 
                                #ConfigTypeId="ngModel" [ngClass]="{
                                    'has-danger': ConfigTypeId.invalid && ConfigTypeId.dirty,
                                    'has-success': ConfigTypeId.valid && ConfigTypeId.dirty
                                  }" class="form-control" id="ConfigTypeId" placeholder="Nhập tên loại cấu hình"> -->
                            
                                <select #selectElem class="form-control" required (change)="setNewUser(selectElem.value)" [(ngModel)]="model.ConfigTypeId" [ngModelOptions]="{standalone: true}" #ConfigTypeId="ngModel" [ngClass]="{
                                    'has-danger': ConfigTypeId.invalid && ConfigTypeId.dirty,
                                    'has-success': ConfigTypeId.valid && ConfigTypeId.dirty
                                  }">
                                    <option *ngFor="let configType of configTypes" [value]="configType.Id">
                                        {{configType.Name}}
                                    </option>
                                </select>

                                <div *ngIf="ConfigTypeId.invalid && ( ConfigTypeId.dirty || ConfigTypeId.touched )" class="alert alert danger">
                                    <div style="color: red;" *ngIf="ConfigTypeId.errors.required">ConfigTypeId is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->