<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Quản lý loại hội thoại
    <small>({{totalItem}})</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="#">
        <i class="fa fa-dashboard"></i> Quản lý loại hội thoại</a>
    </li>
    <li class="active">Danh sách loại hội thoại</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Danh sách loại hội thoại</h3>
          <div class="pull-right">
            <!-- <button type="submit" class="btn btn-info" routerLink="/conversationtype/edit/0">Tạo mới</button> -->
            <a class="btn bg-blue" routerLink="/conversationtype/edit/0">
              <i class="fa fa-plus-square"></i>
              Tạo mới
            </a>
            <button type="button" class="btn btn-success">
              <i class="fa fa-download"></i>
              Xuất file
              </button>
            <!-- <button type="submit" class="btn btn-success">Xuất file</button> -->
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
              <div class="col-sm-6">
                <div class="dataTables_length" id="example1_length">
                  <label>Show
                    <select name="example1_length" [(ngModel)]="showItem"  aria-controls="example1" class="form-control input-sm">
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select> entries</label>
                </div>
              </div>
              <div class="col-sm-6" style="text-align: right;">
                <div id="example1_filter" class="dataTables_filter">
                  <label>Search:
                    <input type="search" [(ngModel)]="filter" class="form-control input-sm" placeholder="" aria-controls="example1">
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                  <thead>
                    <tr role="row">
                      <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending"
                        style="width: 182px;">#</th>
                      <th (click)="sort('Name')">Name
                        <span class="glyphicon sort-icon" *ngIf="key =='Name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                      </th>
                      <th (click)="sort('Status')">Status
                        <span class="glyphicon sort-icon" *ngIf="key =='Status'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                      </th>
                      <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending"
                        style="width: 112px;">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr role="row" class="odd" *ngFor="let object of objectList | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: showItem, currentPage: p } ; let i = index">
                      <td>{{i}}</td>
                      <td>{{object.Name}}</td>
                      <td><span (click)="confirmChangeObject(object)" style="cursor:pointer;" class="label" [ngClass]="{'label-success': object.Status==1, 'label-warning':object.Status==0 }">{{object.Status == 1 ? 'Active' : 'Inactive'}}</span></td>
                      <td>
                        <button type="submit" class="btn btn-xs btn-primary" routerLink="/conversationtype/edit/{{object.Id}}">Edit</button>
                        <button class="btn btn-xs btn-danger" (click)="confirmDeleteObject(object)">Delete</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5">
                <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing {{ ((p -1) * showItem) == 0 ? 1 : ((p -1) * showItem) }} to {{ (p * showItem) > objectList.length ? objectList.length : (p * showItem) }} of {{objectList.length}} entries</div>
              </div>
              <div class="col-sm-7">
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
<div bsModal #deleteObjectModal="bs-modal" class="modal fade in" tabindex="-1" role="dialog" id="deleteObjectModal" aria-labelledby="deleteObject"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Xóa loại hội thoại</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="deleteObjectModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>Bạn có muốn xóa loại hội thoại này không?</div>
      </div>
      <div class="modal-footer">
        <button class="btn default" (click)="deleteObjectModal.hide();">Cancel</button>
        <button class="btn btn-success" (click)="deleteObject();deleteObjectModal.hide();">OK</button>
      </div>
    </div>
  </div>
</div>



<div bsModal #changeObjectModal="bs-modal" class="modal fade in" tabindex="-1" role="dialog" id="changeObjectModal" aria-labelledby="changeObject"
aria-hidden="true">
<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Đổi trạng thái hội thoại</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="deleteObjectModal.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>Bạn có muốn đổi trạng loại hội thoại này không?</div>
    </div>
    <div class="modal-footer">
      <button class="btn default" (click)="changeObjectModal.hide();">Cancel</button>
      <button class="btn btn-success" (click)="changeObject();changeObjectModal.hide();">OK</button>
    </div>
  </div>
</div>
</div>