thead>tr>th {
    cursor: pointer;
}

style1 {
    color: red;
}

small {
    font-size: 100%!important;
}thead>tr>th {
    cursor: pointer;
}

style1 {
    color: red;
}

small {
    font-size: 100%!important;
}