<div class="wrapper" *ngIf="sessionData != null">
<app-header></app-header>
<app-sidebar></app-sidebar>

  <div class="content-wrapper">
      <router-outlet></router-outlet>
  </div>
<app-footer></app-footer>
</div>
<div *ngIf="sessionData == null">
    <login></login>
</div>
