/* You can add global styles to this file, and also import other style files */
.bg-blue {
    background-color: #0073b7 !important;
}

.bg-olive {
    background-color: #3d9970 !important;
}


.bg-red {
    background-color: #dd4b39 !important;
}

.bg-purple {
    background-color: #605ca8 !important;
}

.btn-success {
    background-color: #00a65a;
    border-color: #008d4c;
}