<div class="dropfile">
  <div class="df-message" *ngIf="files && files.length==0">upload fail message</div>
  <div class="row">
    <div class="df-preview" *ngFor="let image of files; let i =index;">
      <div class="df-image"> <img *ngIf="image.name?.split('.').pop()!='pdf'" src="{{image.file}}" />
        <img *ngIf="image.name?.split('.').pop()=='pdf'" src="assets/images/pdf-icon.png" /></div>
      <div *ngIf="image.name?.split('.').pop()=='pdf'">{{image.name}}</div>
      <div class="progress" *ngIf="image.progress != undefined && image.progress != null && image.progress != 0">
        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': image.progress + '%'}"
          [ngClass]="{'progress-bar-success':image.progress==100}">
          {{image.progress}}%
        </div>
      </div>
      <div><a class="btn-del-img" (click)="deleteFile($event);">Delete</a></div>
    </div>
  </div>
</div>
